*.o
*.bak
*.crf
*._2i
*.d
*.bak
!/M2C_UDP_E1-N2/Projects/MDK-ARM/

/M2C_UDP_E1-N2/Projects/MDK-ARM/*
!/M2C_UDP_E1-N2/Projects/MDK-ARM/*.s
# !/M2C_UDP_E1-N2/Projects/MDK-ARM/*.uvoptx
!/M2C_UDP_E1-N2/Projects/MDK-ARM/*.uvprojx
*.TMP
